
 <!--start of event-->
<!--아니 이거 뭐야?-->
        <section id="event">
            <div class="container">
                <div class="row">
                    <div class="col-lg-8 col-md-8 col-sm-8 col-xs-8">
                        <div class="event_header text-left">
                            <h2>재고 목록</h2>
                        </div>
                    </div>
                    <div class="col-lg-1 col-md-1 col-sm-1 col-xs-1">
                        <div class="event_header">
                            <button>이름순</button>
                        </div>
                    </div>
                    <div class="col-lg-2 col-md-2 col-sm-2 col-xs-2">
                        <div class="event_header">
                            <button>유통기한순</button>
                        </div>
                    </div>
                    <div class="col-lg-1 col-md-1 col-sm-1 col-xs-1">
                        <div class="event_header">
                            <button id="addbtn" type="button" class="btn btn-primary btn-lg">+</button>
                        </div>
                    </div>
                </div>
                <hr>
                <!--End of row-->
                <div id="list">
                    <ul class="">
                        <li class="">
                            <div class=list_board>
                                <div>양파</div>
                                <div>20-11-06</div>
                                <div class="display">text</div>
                                <div> <select></select></div>
                            </div>
                            <div><a href="#">주문하기</div>
                            <div><input type="btn" class="input">삭제</input></div>
                        </li>
                    </ul>
                    
                </div>
                
            </div>
            <!--End of container-->
        </section>
        <!--end of event-->