<!--start of event-->
        <section id="event">
            <div class="container">
                <div class="row">
                    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                        <div class="event_header text-center">
                            <h2>재고 목록</h2>
                        </div>
                    </div>
                </div>
                <!--End of row-->
                <div class="row">
                    <div class="col-md-16">
                        <div class="event_news">
                            <div class="event_single_item fix">
                                <div class="event_news_img floatleft">
                                    <img src="/img/onion.jpg" alt="">
                                </div>
                                <div class="event_news_text">
                                    <a href="#"><h4>양파</h4></a>
                                    <p>양파를 양팟</p>
                                </div>
                            </div>
                        </div>
                        <div class="event_news">
                            <div class="event_single_item fix">
                                <div class="event_news_img floatleft">
                                    <img src="/img/manel.jpg" alt="">
                                </div>
                                <div class="event_news_text">
                                    <a href="#"><h4>마늘</h4></a>
                                    <p>마늘을 마늘</p>
                                </div>
                            </div>
                        </div>
                        <div class="event_news">
                            <div class="event_single_item fix">
                                <div class="event_news_img floatleft">
                                    <img src="/img/spam.jpg" alt="">
                                </div>
                                <div class="event_news_text">
                                    <a href="#"><h4>스팸</h4></a>
                                    <p>날씨가 너무 슾팸..</p>
                                </div>
                            </div>
                        </div>
                        <div class="event_news">
                            <div class="event_single_item fix">
                                <div class="event_news_img floatleft">
                                    <img src="/img/manel.jpg" alt="">
                                </div>
                                <div class="event_news_text">
                                    <a href="#"><h4>마늘아가</h4></a>
                                    <p>애미야 국이 짜다</p>
                                </div>
                            </div>
                        </div>
                        <div class="event_news">
                            <div class="event_single_item fix">
                                <div class="event_news_img floatleft">
                                    <img src="/img/onion.jpg" alt="">
                                </div>
                                <div class="event_news_text">
                                    <a href="#"><h4>어니언</h4></a>
                                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aliquid, veniam.</p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!--End of col-md-4-->
                </div>
                <!--End of row-->
            </div>
            <!--End of container-->
        </section>
        <!--end of event-->