<html>
    <head>
        <link href="../css/login.css" rel="stylesheet">

    </head>
    <body>
        <div class="section_login">
            <h3 class="tit_login">로그인</h3>
            <div class="write_form">
                <div class="write_view login_view">
                    <form method="post" name="form" id="form" onsubmit="return checkReCaptcha();"
                        action="/shop/member/login_ok.php">
                        <input type="hidden" name="returnUrl" value="https://www.kurly.com/shop/main/index.php">
                        <input type="hidden" name="return_url" value="">
                        <input type="hidden" name="close" value="">
                        <input type="text" name="m_id" size="20" tabindex="1" value="" placeholder="아이디를 입력해주세요">
                        <input type="password" name="password" size="20" tabindex="2" placeholder="비밀번호를 입력해주세요">
                        
                        <button type="submit" class="btn_type1"><span class="txt_type">로그인</span></button>
                    </form>
                    <a href="/shop/member/join.php" class="btn_type2 btn_member"><span class="txt_type" style="color: #5f0080;">회원가입</span></a>
                </div>
            </div>
        </div>
    </body>
</html>
