<div id="test_page">
    <style>
        #test_page p {
            margin: 200px;
            width: 900px;
            background: #fff;
        }
    </style>

    <div>
        
    </div>

    <div class="text-center">
        <button id="add_btn" type="button" class="btn btn-primary">추가</button>
        <button id="close_btn" type="button" class="btn btn-danger btn-lg">닫기</button>
    </div>

    <script>
        var base = $('#test_page').parents('.modal_popup');

        $('#add_btn', base).on('click', function() {
            // 창 닫을때 부모창으로 값 넘기기
            $.modal.getCurrent().close({ x: '333333' });
        });
        $('#close_btn', base).on('click', function() {
            // 창 닫을때 부모창으로 값 넘기기
            $.modal.getCurrent().close({ x: '333333' });
        });
    </script>
</div>