<section id="blog">
  <div class="container">
    <div
      class="row"
      style="padding-bottom: 20px; background-color: rgba(252, 227, 0, 0.534)"
    >
      <div class="col-md-4">
        <!-- todo: 등급 표기 -->
      </div>
      
      <div class="col-md-4">
        <div class="counter_item text-center">
          <div class="sigle_counter_item">
            <img src="/img/tree.png" alt="" />
            <div class="counter_text">
              <div id="recp" class="counter" data-target="1542">0</div>
              <p>요리한 레시피 개수</p>
            </div>
          </div>
        </div>
      </div>
      <div class="col-md-4">
        <div class="counter_item text-center">
          <div class="sigle_counter_item">
            <img src="/img/hand.png" alt="" />
            <div class="counter_text">
              <div id="recp" class="counter" data-target="1458">0</div>
              <p>총 요리 시간</p>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-md-12" style="height: 50px"></div>
    <div class="row">
      <div class="col-md-6">
        <div class="latest_blog text-left">
          <h3 style="padding-left: 10px">최근 레시피</h3>
          <hr />
        </div>
      </div>

      <div class="col-md-6">
        <div class="latest_blog text-left">
          <h3 style="padding-left: 10px">내 레시피</h3>
          <hr />
        </div>
      </div>
    </div>
    <!--End of row-->
    <div class="row">
      <div class="col-md-6">
        <div class="col-md-6">
          <div class="blog_news">
            <div class="single_blog_item">
              <div class="blog_img">
                <img src="/img/chicken.jpg" alt="" />
              </div>
              <div class="blog_content">
                <a href=""><h3>닭봉 간장 조림</h3></a>
                <div class="expert">
                  <div class="left-side text-left">
                    <p class="left_side">
                      <span class="clock"><i class="fa fa-clock-o"></i></span>
                      <span class="time">Aug 19, 2020</span>
                      <a href=""
                        ><span class="admin"
                          ><i class="fa fa-user"></i> Admin</span
                        ></a
                      >
                    </p>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-md-12">
              <button style="width: 100%">창고에 담기</button>
            </div>
          </div>
        </div>
        <div class="col-md-6">
          <div class="blog_news">
            <div class="single_blog_item">
              <div class="blog_img">
                <img src="/img/chicken.jpg" alt="" />
              </div>
              <div class="blog_content">
                <a href=""><h3>닭봉 간장 조림</h3></a>
                <div class="expert">
                  <div class="left-side text-left">
                    <p class="left_side">
                      <span class="clock"><i class="fa fa-clock-o"></i></span>
                      <span class="time">Aug 19, 2020</span>
                      <a href=""
                        ><span class="admin"
                          ><i class="fa fa-user"></i> Admin</span
                        ></a
                      >
                    </p>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-md-12">
              <button style="width: 100%">창고에 담기</button>
            </div>
          </div>
        </div>

        <div class="col-md-12" style="height: 30px"></div>

        <div class="col-md-6">
          <div class="blog_news">
            <div class="single_blog_item">
              <div class="blog_img">
                <img src="/img/chicken.jpg" alt="" />
              </div>
              <div class="blog_content">
                <a href=""><h3>닭봉 간장 조림</h3></a>
                <div class="expert">
                  <div class="left-side text-left">
                    <p class="left_side">
                      <span class="clock"><i class="fa fa-clock-o"></i></span>
                      <span class="time">Aug 19, 2020</span>
                      <a href=""
                        ><span class="admin"
                          ><i class="fa fa-user"></i> Admin</span
                        ></a
                      >
                    </p>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-md-12">
              <button style="width: 100%">창고에 담기</button>
            </div>
          </div>
        </div>
        <div class="col-md-6">
          <div class="blog_news">
            <div class="single_blog_item">
              <div class="blog_img">
                <img src="/img/chicken.jpg" alt="" />
              </div>
              <div class="blog_content">
                <a href=""><h3>닭봉 간장 조림</h3></a>
                <div class="expert">
                  <div class="left-side text-left">
                    <p class="left_side">
                      <span class="clock"><i class="fa fa-clock-o"></i></span>
                      <span class="time">Aug 19, 2020</span>
                      <a href=""
                        ><span class="admin"
                          ><i class="fa fa-user"></i> Admin</span
                        ></a
                      >
                    </p>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-md-12">
              <button style="width: 100%">창고에 담기</button>
            </div>
          </div>
        </div>
      </div>

      <div class="col-md-6">
        <div class="col-md-6">
          <div class="blog_news">
            <div class="single_blog_item">
              <div class="blog_img">
                <img src="/img/chicken.jpg" alt="" />
              </div>
              <div class="blog_content">
                <a href=""><h3>닭봉 간장 조림</h3></a>
                <div class="expert">
                  <div class="left-side text-left">
                    <p class="left_side">
                      <span class="clock"><i class="fa fa-clock-o"></i></span>
                      <span class="time">Aug 19, 2020</span>
                      <a href=""
                        ><span class="admin"
                          ><i class="fa fa-user"></i> Admin</span
                        ></a
                      >
                    </p>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-md-12">
              <button style="width: 100%">창고에 담기</button>
            </div>
          </div>
        </div>
        <div class="col-md-6">
          <div class="blog_news">
            <div class="single_blog_item">
              <div class="blog_img">
                <img src="/img/chicken.jpg" alt="" />
              </div>
              <div class="blog_content">
                <a href=""><h3>닭봉 간장 조림</h3></a>
                <div class="expert">
                  <div class="left-side text-left">
                    <p class="left_side">
                      <span class="clock"><i class="fa fa-clock-o"></i></span>
                      <span class="time">Aug 19, 2020</span>
                      <a href=""
                        ><span class="admin"
                          ><i class="fa fa-user"></i> Admin</span
                        ></a
                      >
                    </p>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-md-12">
              <button style="width: 100%">창고에 담기</button>
            </div>
          </div>
        </div>

        <div class="col-md-12" style="height: 30px"></div>

        <div class="col-md-6">
          <div class="blog_news">
            <div class="single_blog_item">
              <div class="blog_img">
                <img src="/img/chicken.jpg" alt="" />
              </div>
              <div class="blog_content">
                <a href=""><h3>닭봉 간장 조림</h3></a>
                <div class="expert">
                  <div class="left-side text-left">
                    <p class="left_side">
                      <span class="clock"><i class="fa fa-clock-o"></i></span>
                      <span class="time">Aug 19, 2020</span>
                      <a href=""
                        ><span class="admin"
                          ><i class="fa fa-user"></i> Admin</span
                        ></a
                      >
                    </p>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-md-12">
              <button style="width: 100%">창고에 담기</button>
            </div>
          </div>
        </div>
        <div class="col-md-6">
          <div class="blog_news">
            <div class="single_blog_item">
              <div class="blog_img">
                <img src="/img/chicken.jpg" alt="" />
              </div>
              <div class="blog_content">
                <a href=""><h3>닭봉 간장 조림</h3></a>
                <div class="expert">
                  <div class="left-side text-left">
                    <p class="left_side">
                      <span class="clock"><i class="fa fa-clock-o"></i></span>
                      <span class="time">Aug 19, 2020</span>
                      <a href=""
                        ><span class="admin"
                          ><i class="fa fa-user"></i> Admin</span
                        ></a
                      >
                    </p>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-md-12">
              <button style="width: 100%">창고에 담기</button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!--End of container-->
</section>
