<section id="blog">
  <div class="container">
    <div class="row" style="padding-bottom: 20px; border-radius: 30px;background-color: rgba(252, 227, 0, 0.534)">
      <div class="col-md-4">
        <!-- todo: 등급 표기 -->
        <div><img src="/img/chef.png" style="width: 60px; margin-top: 25px;"> 백종원 뺨테이커</div>
        <div><img src="/img/pot.png" style="width: 60px;"> 고구마호박 조리 가능</div>
        <div><img src="/img/micro.png" style="width: 60px;"> 전자파JMT</div>
      </div>

      <div class="col-md-4">
        <div class="counter_item text-center">
          <div class="sigle_counter_item">
            <img src="/img/count_1.png" alt="" />
            <div class="counter_text">
              <div id="recp" class="counter" data-target="1542">0</div>
              <p>요리한 레시피 개수</p>
            </div>
          </div>
        </div>
      </div>
      <div class="col-md-4">
        <div class="counter_item text-center">
          <div class="sigle_counter_item">
            <img src="/img/clock_1.png" alt="" />
            <div class="counter_text">
              <div id="recp" class="counter" data-target="1458">0</div>
              <p>총 요리 시간</p>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-md-12" style="height: 50px"></div>
    <div class="row">
      <div class="col-md-6">
        <div class="latest_blog text-left">
          <h3 style="padding-left: 10px"><img src="../img/latest_recipe.png"></h3>
          <hr />
        </div>
        <ul id="completeRecipes">
          <!-- 최근에 해 먹은 레시피 -->
          <script>

            // TODO: json random으로 받아오기 
            var output = localStorage.getItem("completeRecipeId");
            var completeRecipes = JSON.parse(output);
            console.log("my page", completeRecipes);
            $.each(completeRecipes, function (index, recipeNumber) {
              // var num = Math.floor(Math.random() * 1000000);

              var xhr = new XMLHttpRequest();
              var url = 'https://save-your-ingredient.s3.amazonaws.com/recipes/' + recipeNumber + '.json';
              console.log("my page url: ", url);
              xhr.open('GET', url);
              xhr.send();

              xhr.onreadystatechange = function () {
                if (xhr.readyState === XMLHttpRequest.DONE) {


                  if (xhr.status === 200) {
                    let loadedJSON = JSON.parse(xhr.responseText);
                    console.log("success");
                    var html = "";
                    html +=
                      '<li> \
                        <div class="blog_news" > \
                          <div class="recipe-card" > \
                            <div class="blog_img"> \
                              <a href="detail_recipe.html""><img src="' + loadedJSON.thumbnail + '" alt=""/></a> \
                            </div> \
                            <div class="blog_content" style="text-align: left;"> \
                                <a href="detail_recipe.html""><h3 id="plz">' + loadedJSON.name + '</h3></a> \
                                <div class="expert"> \
                                  <div class="left-side text-left"> \
                                      <p class="left_side"> \
                                      <span class="clock"><i class="fa fa-clock-o"></i></span> \
                                      <span class="time">' + loadedJSON.time + '</span> \
                                      </p> \
                                  </div> \
                                </div> \
                            </div> \
                            <button id="'+ loadedJSON.id + '" class="btn-storage" onclick=btn_click(this.id)>창고에 담기</button> \
                          </div> \
                        </div> \
                      </li>';


                    $("#completeRecipes").append(html);

                  } else {
                    console.log("error!!");
                  }
                }
              }
            });

          </script>
        </ul>
      </div>


    </div>
    <!--End of row-->
    <div class="row">

    </div>
  </div>
  <!--End of container-->
</section>