<!DOCTYPE html>
<html lang="ko">
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->

    <title>GreenFair</title>

    <!--    Google Fonts-->
    <link
      href="https://fonts.googleapis.com/css?family=Open+Sans:400,300,600,700,800"
      rel="stylesheet"
      type="../text/css"
    />

    <!--Fontawesom-->
    <link rel="stylesheet" href="../css/font-awesome.min.css" />

    <!--Animated CSS-->
    <link rel="stylesheet" type="../text/css" href="../css/animate.min.css" />

    <!-- Bootstrap -->
    <link href="../css/bootstrap.min.css" rel="stylesheet" />
    <!--Bootstrap Carousel-->
    <link type="../text/css" rel="stylesheet" href="../css/carousel.css" />

    <link rel="stylesheet" href="../css/isotope/style.css" />

    <!--Main Stylesheet-->
    <link href="../css/style.css" rel="stylesheet" />
    <!--Responsive Framework-->
    <link href="../css/responsive.css" rel="stylesheet" />

    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
      <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->

    <script src="../js/jquery-1.12.3.min.js"></script>


    <script src="../js/includeHTML.js"></script>
    <script>
        $(document).ready(function() {
            $('#target').click(function() {
                $.getJSON('recipe_example.json', function(data) {
                    var html = '';
                    $.each(data, function(entryIndex, item) {
                        html += '<div class="blog_news"> \
                                      <div class="single_blog_item"> \
                                        <div class="blog_img">';
                        html += '<img src="' + item.thumbnail + '" alt="" /></div>';
                        html += '<div class="blog_content"><a href=""><h3>' + item.name + '</h3></a>';
                        html += '<div class="expert"> \
                        <div class="left-side text-left"> \
                          <p class="left_side"> \
                            <span class="clock"><i class="fa fa-clock-o"></i></span> \
                            <span class="time">' + item.time +'</span><a href=""><span class="admin"><i class="fa fa-user"></i> Admin</span></a> \
                            </p></div></div></div></div>';
                    });
                    console.log(html);
                    $('#card').html(html);
                });
                return false;
            });
        });
    </script>
  </head>

  <body>
    <div id="container">
        <div class="letters">
          <div class="letter" id="target">
            <h3><a href="#">클릭</a></h3>
          </div>
        </div>  
      </div>
  

    <nav class="include" include-html="./nav.html"></nav>

    <!-- 레시피 카드 -->
    <section id="blog">
        <div class="container">
          <div class="row">
            <div class="col-md-6">
              <div class="latest_blog text-left">
                <h3 style="padding-left: 10px">최근 레시피</h3>
                <button class="more">더 보기</button>
                <hr style="height: 2px; background-color: #ccc;">
              </div>
            </div>
      
            <div class="col-md-6">
              <div class="latest_blog text-left">
                <h3 style="padding-left: 10px">인기 레시피</h3>
                <hr style="height: 2px; background-color: #ccc;">
            </div>
            </div>
          </div>
          <!--End of row-->
          

          <div class="row">
            <div class="col-md-6">
              <div id="card"></div>
            </div>
      
            <div class="col-md-6">
              <div class="col-md-6">
                <div class="blog_news">
                  <div class="single_blog_item">
                    <div class="blog_img">
                      <img src="/img/chicken.jpg" alt="" />
                    </div>
                    <div class="blog_content">
                      <a href=""><h3>닭봉 간장 조림</h3></a>
                      <div class="expert">
                        <div class="left-side text-left">
                          <p class="left_side">
                            <span class="clock"><i class="fa fa-clock-o"></i></span>
                            <span class="time">Aug 19, 2020</span>
                            <a href=""><span class="admin"><i class="fa fa-user"></i> Admin</span></a>
                          </p>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </section>
      
              <!-- 빈 div -->
              <div class="col-md-12" style="height: 30px"></div>
            </div>
          </div>
        </div>

    <footer class="include" include-html="./footer.html"></footer>

    <script src="../js/jquery-1.12.3.min.js"></script>
    <!--Back To Top-->
    <script src="../js/backtotop.js"></script>
    <!--WOW With Animation-->
    <script src="../js/wow.min.js"></script>
    <!--WOW Activated-->
    <script>
      new WOW().init();
    </script>
    <!-- Include all compiled plugins (below), or include individual files as needed -->
    <script src="../js/bootstrap.min.js"></script>
    <!-- Custom JavaScript-->
    <script src="../js/main.js"></script>
  </body>
  <script>
    includeHTML();
  </script>
</html>
