<section id="blog">
    <div class="container">
        <div class="row">
            <div class="col-md-8">
                <div class="latest_blog text-left">
                    <h3 style="padding-left: 10px;">레시피 창고</h3>
                    <hr>
                </div>
            </div>

            <div class="col-md-4">
                <div class="latest_blog text-left">
                    <h3 style="padding-left: 10px;">이거 필요해?</h3>
                    <hr>
                </div>
            </div>
        </div>
        <!--End of row-->
        <div class="row">
            <div class="col-md-8">
                <div class="col-md-4">
                    <div class="blog_news">
                        <div class="single_blog_item">
                            <div class="blog_img">
                                <img src="/img/chicken.jpg" alt="">
                            </div>
                            <div class="blog_content">
                                <a href=""><h3>닭봉 간장 조림</h3></a>
                                <div class="expert">
                                    <div class="left-side text-left">
                                        <p class="left_side">
                                            <span class="clock"><i class="fa fa-clock-o"></i></span>
                                            <span class="time">Aug 19, 2020</span>
                                            <a href=""><span class="admin"><i class="fa fa-user"></i> Admin</span></a>
                                        </p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-6">
                            <button style="width: 100%;">완료</button>
                        </div>
                        <div class="col-md-6">
                            <button style="width: 100%;">삭제</button>
                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="blog_news">
                        <div class="single_blog_item">
                            <div class="blog_img">
                                <img src="/img/chicken.jpg" alt="">
                            </div>
                            <div class="blog_content">
                                <a href=""><h3>닭봉 간장 조림</h3></a>
                                <div class="expert">
                                    <div class="left-side text-left">
                                        <p class="left_side">
                                            <span class="clock"><i class="fa fa-clock-o"></i></span>
                                            <span class="time">Aug 19, 2020</span>
                                            <a href=""><span class="admin"><i class="fa fa-user"></i> Admin</span></a>
                                        </p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-6">
                            <button style="width: 100%;">완료</button>
                        </div>
                        <div class="col-md-6">
                            <button style="width: 100%;">삭제</button>
                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="blog_news">
                        <div class="single_blog_item">
                            <div class="blog_img">
                                <img src="/img/chicken.jpg" alt="">
                            </div>
                            <div class="blog_content">
                                <a href=""><h3>닭봉 간장 조림</h3></a>
                                <div class="expert">
                                    <div class="left-side text-left">
                                        <p class="left_side">
                                            <span class="clock"><i class="fa fa-clock-o"></i></span>
                                            <span class="time">Aug 19, 2020</span>
                                            <a href=""><span class="admin"><i class="fa fa-user"></i> Admin</span></a>
                                        </p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-6">
                            <button style="width: 100%;">완료</button>
                        </div>
                        <div class="col-md-6">
                            <button style="width: 100%;">삭제</button>
                        </div>
                    </div>
                </div>

                <div class="col-md-12" style="height:30px;"></div>

                <div class="col-md-4">
                    <div class="blog_news">
                        <div class="single_blog_item">
                            <div class="blog_img">
                                <img src="/img/chicken.jpg" alt="">
                            </div>
                            <div class="blog_content">
                                <a href=""><h3>닭봉 간장 조림</h3></a>
                                <div class="expert">
                                    <div class="left-side text-left">
                                        <p class="left_side">
                                            <span class="clock"><i class="fa fa-clock-o"></i></span>
                                            <span class="time">Aug 19, 2020</span>
                                            <a href=""><span class="admin"><i class="fa fa-user"></i> Admin</span></a>
                                        </p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-6">
                            <button style="width: 100%;">완료</button>
                        </div>
                        <div class="col-md-6">
                            <button style="width: 100%;">삭제</button>
                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="blog_news">
                        <div class="single_blog_item">
                            <div class="blog_img">
                                <img src="/img/chicken.jpg" alt="">
                            </div>
                            <div class="blog_content">
                                <a href=""><h3>닭봉 간장 조림</h3></a>
                                <div class="expert">
                                    <div class="left-side text-left">
                                        <p class="left_side">
                                            <span class="clock"><i class="fa fa-clock-o"></i></span>
                                            <span class="time">Aug 19, 2020</span>
                                            <a href=""><span class="admin"><i class="fa fa-user"></i> Admin</span></a>
                                        </p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-6">
                            <button style="width: 100%;">완료</button>
                        </div>
                        <div class="col-md-6">
                            <button style="width: 100%;">삭제</button>
                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="blog_news">
                        <div class="single_blog_item">
                            <div class="blog_img">
                                <img src="/img/chicken.jpg" alt="">
                            </div>
                            <div class="blog_content">
                                <a href=""><h3>닭봉 간장 조림</h3></a>
                                <div class="expert">
                                    <div class="left-side text-left">
                                        <p class="left_side">
                                            <span class="clock"><i class="fa fa-clock-o"></i></span>
                                            <span class="time">Aug 19, 2020</span>
                                            <a href=""><span class="admin"><i class="fa fa-user"></i> Admin</span></a>
                                        </p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-6">
                            <button style="width: 100%;">완료</button>
                        </div>
                        <div class="col-md-6">
                            <button style="width: 100%;">삭제</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!--End of container-->
</section>